[core]
	excludesfile = /home/satake/.gitignore_global
[alias]
	br = branch
	st = status
	co = checkout
	sw = switch
[user]
	email = satake.ts@gmail.com
	name = satake
[ghq]
	root = ~/go/src
	root = ~/src
